
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/pages/accueil">Accueil</a></li>
        <li><a href="/pages/patients">Tableau de bord</a></li>
        <li><a href="/patients">Patients</a></li>
      </ul>
 
    </div>
 </nav>
